﻿<div class="row" ng-if="user">
    <div class="col-lg-3 offset-4">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{user.login}}</h5>
                <p class="card-text"><b></b>{{user.bio}}</p>
                <hr />
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action list-group-item-dark"><b>Id:</b> {{user.id}}</li>
                    <li class="list-group-item list-group-item-action list-group-item-dark"><b>Profile Git:</b> <a href="{{user.html_url}}">{{user.login}}</a></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark"><b>Created At:</b> {{user.created_at|date:'MM/dd/yyyy h:mma'}}</li>
                    <li class="list-group-item list-group-item-action list-group-item-dark"><b><a href="https://www.linkedin.com/in/leandro-correa-1a86a219/">Linkedin</a></b></li>
                </ul>

            </div>
        </div>
    </div>
</div>