﻿
<div class="col-lg-12" ng-init="loadUsers()">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Login</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users track by $index"><td class="text-right" width="10%">{{user.id}}</td><td>{{user.login}}</td></tr>
        </tbody>
    </table>
    <link />
    <div class="col-lg-12 text-center">
        <button class="btn btn-primary btn-lg" ng-click="lastPage()">Last</button>
        <button class="btn btn-primary btn-lg" ng-click="nextPage()">Next</button>
    </div>
</div>