﻿
<div class="col-lg-12">

    <div class="row" ng-if="!user">
        <div class="col-lg-12">

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-default input-group-text" ng-click="getUserDetails(name)" id="btnGroupAddon2" ng-disabled="!name">
                        <i class="fas fa-search"></i>
                        click
                    </button>
                </div>
                <input type="text" class="form-control border border-dark" ng-model="name"  placeholder="Type here the username." aria-label="Type here the user name." aria-describedby="btnGroupAddon2">
            </div>
        </div>

    </div>
    <div class="row" ng-if="user">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{user.login}}</h5>
                    <p class="card-text"><b></b>{{user.bio}}</p>
                    <hr />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action list-group-item-dark"><b>Id:</b> {{user.id}}</li>
                        <li class="list-group-item list-group-item-action list-group-item-dark"><b>Profile:</b> <a href="{{user.html_url}}">{{user.login}}</a></li>
                        <li class="list-group-item list-group-item-action list-group-item-dark"><b>Created At:</b> {{user.created_at|date:'MM/dd/yyyy h:mma'}}</li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-8" ng-if="user">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos">
                        <td class="text-center" width="15%">{{repo.id}}</td>
                        <td class="text-left"><a href="{{repo.html_url}}">{{repo.name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-lg-12 text-center" ng-if="user">
        <button ng-click="clear()" class="btn btn-primary btn-lg"><span class="fas fa-sync-alt"></span></button>
    </div>
</div>